//- @pugdoc
    name: listview
    description: List view of different types
    options:
        - {array} items
        - {string} itemTemplate
        - {bool} modeLocked
        - {array} mode
        - {integer} multiselect
        - {bool} expanse
        - {bool} spring
        - {string} search

- fastredRequire('css', 'template', 'var')

- itemTemplate = varIsStr(options.itemTemplate) ? options.itemTemplate : 'item'
- attributes.class = cssBemClassArr(attributes.class, {listview_expanse: options.expanse, listview_spring: options.spring})

.listview&attributes(attributes)(data-mode-locked=options.modeLocked data-multiselect=options.multiselect data-mode=options.mode data-item-template=options.itemTemplate data-type=options.type data-search=options.search tabindex=0)
    .listview__header
        != templateToHtml(itemTemplate, {data: {}, type: options.type, header: true})
    .listview__content
        if options.items
            each item in options.items
                != templateToHtml(itemTemplate, {data: item, type: options.type})
